# 11.-Recursión, Búsqueda, Ordenamiento, Iteración

## 11.2.- Algoritmos iterativos y Recursivos

### 11.2.1.- Fibonacci

Vamos a armar la sucesión de Fibonacci - Comenamos definiendola. Recuerda que los primeros 2 numeros, son 0 y 1, y los numeros subsecuentes son la suma de los 2 anteriores

In [29]:
def fibonacci(n):
    if n in (0,1):
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)
fibonacci(3)

2

Ahora vamos a probarla, arma un for que muestre lo valores Fibonacci de 0 a 40.

In [42]:
for n in range(41):
    print(f'k{n}={fibonacci(n)}')

k0=0
k1=1
k2=1
k3=2
k4=3
k5=5
k6=8
k7=13
k8=21
k9=34
k10=55
k11=89
k12=144
k13=233
k14=377
k15=610
k16=987
k17=1597
k18=2584
k19=4181
k20=6765
k21=10946
k22=17711
k23=28657
k24=46368
k25=75025
k26=121393
k27=196418
k28=317811
k29=514229
k30=832040
k31=1346269
k32=2178309
k33=3524578
k34=5702887
k35=9227465
k36=14930352
k37=24157817
k38=39088169
k39=63245986
k40=102334155

#### Por tu cuenta

La versión iterativa de fibonacci es el siguiente programa. Usa %timeit para comparar la versión original vs la iterativa para los numeros 32,33 y 34

def fibonacci_iterativo(n):
    resultado = 0
    temp = 1
    for j in range(0,n):
        temp, resultado = resultado, resultado + temp
    return resultado

In [43]:
def fibonacci_iterativo(n):
    resultado = 0
    temp = 1
    for j in range(0,n):
        temp, resultado = resultado, resultado + temp
    return resultado

In [44]:
%timeit fibonacci_iterativo(17)

3 µs ± 33.3 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [45]:
%timeit fibonacci(17)

1.23 ms ± 7.66 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

### 11.2.2.- Series Geometricas

Ahora vamos a armar series geometricas. Está tendra a=3, r=1/2 y n=20

COmenzamos con la definicion de las variables a y r

In [55]:
a = 3
r = 1/2

def serie_geometrica(n):
    if n==0:
        return a
    else:
        return serie_geometrica(n-1) + a*r**(n-1)

Ahora vamos a la definición de la función serie_geom(n)

In [63]:
serie_geometrica(10)

8.994140625

Y terminamos con la impresión de los resultados del 1 al 10

In [61]:
for n in range(0,11):
    print(f'n({n})={serie_geometrica(n)}')

n(0)=3
n(1)=6.0
n(2)=7.5
n(3)=8.25
n(4)=8.625
n(5)=8.8125
n(6)=8.90625
n(7)=8.953125
n(8)=8.9765625
n(9)=8.98828125
n(10)=8.994140625

### 11.2.3.- Factorial

Ahora vamos a ver factoriales, comenzamos definiendo la funcion factorial

In [64]:
def factorial(n):
    if n<=0:
        return 1
    else:
        return n*factorial(n-1)
factorial(5)

120

E imprimimos del 1 al 20

In [69]:
for n in range(6):
    print(f'n({n})! = {factorial(n)}')

n(0)! = 1
n(1)! = 1
n(2)! = 2
n(3)! = 6
n(4)! = 24
n(5)! = 120

Ahora intenta el factorial de forma iterativa

In [78]:
def factorial_iterativo(n):
    fin=n-1
    for i in range(fin,1,-1):
        n *=i
        print(f'n({n})! = {n}\n fin = {fin}')
    return n
factorial_iterativo(5)

n(20)! = 20
 fin = 4
n(60)! = 60
 fin = 4
n(120)! = 120
 fin = 4

120

## 11.3.- Búsqueda

### 11.4.- Búsqueda lineal

La busqueda lineal es la mas sencilla y mensa, simplemente va elemento por elemento del arreglo viendo si es el indicado

Vamos a comenzar haciendo una función sencilla de búsqueda lineal

Luego le damos los datos: 
    
datos = [1.70, 1.65, 1.58, 1.81, 1.84, 1.78, 1.68, 1.72]

Y luego probamos

## 11.4.- Ordenamiento

### 11.4.1.- Ordenamiento por Selección

Vamos a comenzar con Ordenamiento por Selección

En este ciclo, se reduce la cantidad de elementos, una vez que se ha encontrado el elemento más
pequeño y se ubica en la primera posición.

En esta parte se identifica el elemento más pequeño, entre los elementos que quedan, y se intercambia de posición con el elemento que tiene el índice más bajo.

Y ahora apliquemos este algoritmo a auna lista que contiene la estatura de 9 personas

1.85, 1.70, 1.58, 1.83, 1.80, 1.75, 1.70, 1.90, 1.65